.fondo-home {
  background-image: -webkit-linear-gradient(40deg, #5e2ced, #a485fd);
  background-image: linear-gradient(40deg, #5e2ced, #a485fd);
  padding: 110px 0 110px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.imagen {
  width: 130%;
  height: 100%;
  text-align: center;
  justify-content: center;
  margin-left: -100px;
}

.titulo-home {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 50px;
  font-size: 40px;
}
.color {
  background-color: #ff6d6d !important;
  color: #ffffff !important;
  border-radius: 20px !important;
  border: none !important;
}

.mt_40 {
  margin-top: 40px;
}


.mt_30 {
  margin-top: 30px;
}

.align-items-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

img,
svg {
  vertical-align: middle;
}

.circulo.uno {
  width: 740px;
  height: 740px;
  top: -280px;
}
.circulo {
  position: absolute;
  right: 0;
  top: 0;
  background: hsla(0, 0%, 100%, 0.03);
  border-radius: 50%;
  z-index: -1;
}

.circulo.dos {
  width: 640px;
  height: 640px;
  top: -150px;
  right: -80px;
}

.circulo.tres {
  width: 640px;
  height: 640px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -450px;
}

.boton-home {
  color: #ffffff !important;
  background-color: #ff6d6d !important;
  padding-top: 15px !important;
  padding-right: 30px !important;
  padding-bottom: 15px !important;
  padding-left: 30px !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px !important;
}

@media (max-width: 1450px) {
  .imagen {
    max-width: 120%;
    max-height: 100%;
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .fondo-home .imagen {
    max-width: 100%;
    margin-bottom: 80px;
    padding-bottom: 30px;
  }
}

@media (max-width: 1199px) {
  .fondo-home .presentacion-home h3 {
    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: 650px) {
  .fondo-home .imagen {
    margin-bottom: 30px;
  }
}

@media (max-width: 1199px) {
  .fondo-home .presentacion-home h3 {
    font-size: 32px;
    line-height: 45px;
  }
}

.subtitulo-home {
  font-family: "Raleway", sans-serif !important;
  color: #222d39 !important;
  font-weight: 600;
  font-size: 30px !important;
  line-height: 40px !important;
}

.espaciado-home {
  padding: 80px 0 140px;
}

.espaciado-bajo {
  padding-bottom: 50px;
}

.segundo-home {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
}

.boton_home:hover,
.boton-home:focus {
  color: #ffffff !important;
  background-color: #ff6d6d !important;
  padding-top: 15px !important;
  padding-right: 30px !important;
  padding-bottom: 15px !important;
  padding-left: 30px !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px !important;
  box-shadow: 1px 2px 4px rgba(58, 58, 58, 0.4);
}

.blog-card .color-overlay {
  /* Rectangle 11: */
  background: rgba(84, 104, 110, 0.4);
  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.blog-card:hover .card-info {
  opacity: 1;
  bottom: 120px;
}
.blog-card:hover .color-overlay {
  background: rgba(88, 88, 88, 0.8);
}

.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #222d39;
  font-family: "Droid Serif", serif;
  font-style: 16px;
  line-height: 454px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.6s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.cartas {
  border-radius: 20px !important;
  box-shadow: rgba(84, 104, 110, 0.4) !important;
  border: none !important;
}

.card-img-top {
  border-radius: 20px 20px 0px 0px !important;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -6px;
  border: 1px solid #247b8a;
  background-color: white;
}

.card2:hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
