/*a485*/

.nav-link {
  color: #ffffff !important;
  font-size: 17px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

.navbar-brand {
  color: #ffffff !important;
  font-size: 28px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
}

.card {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
